main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  background: linear-gradient(to bottom, #2C2C30 40%, #EDCE5E 100%);
  background: var(--pikachu-black);
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: var(--pikachu-dimmed-yellow);
  border-radius: 15px;
  padding: 15px;
  font-family: myPokemon;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: 2px 5px 15px 5px rgba(247,233,80,0.7);
  transform: scale(1.02);
}

.image-container {
  background-color: white;
  border-radius: 15px;
}

img {
  width: 100%;
  height: auto;
}