header {
  background-image: url("./../assets/imgs/pokemon-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  font-family: myPokemon;
  background-color: var(--pikachu-black);
}

header div p {
  font-family: var(--basic-font);
  color: var(--pikachu-dimmed-yellow);
}

header div p.instructions {
  margin: 0 0 0 20px;
  max-width: 350px;
}

header div h1 {
  font-size: 50px;
  margin: 20px 0 10px 20px;
  color: var(--pikachu-shiny-yellow);
}

.header-sidebar {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-sidebar p {
  font-size: 20px;
  font-weight: 650;
}

select {
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 550;
}

.easy-select {
  border: 2px solid var(--easy);
}

.medium-select {
  border: 2px solid var(--medium);
}

.hard-select {
  border: 2px solid var(--hard);
}

.easy-option,
.medium-option,
.hard-option {
  font-weight: 550;
}

.easy-option,
.easy-select {
  color: var(--easy);
}

.medium-option,
.medium-select {
  color: var(--medium);
}

.hard-option,
.hard-select {
  color: var(--hard);
}