*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: myPokemon;
  src: url("./../assets/fonts/PocketMonk-15ze.ttf");
}

:root {
  --basic-font: Arial, Helvetica, sans-serif;
  --easy: #639754;
  --medium: #FFD301;
  --hard: #D61F1F;
  --pikachu-black: #2c2c30;
  --pikachu-shiny-yellow: #f7e950;
  --pikachu-dimmed-yellow: #edce5e;
}